<launch>
    <node name="flir_one_node" pkg="flir_one_node" type="flir_one_node" output="screen">
    </node>

    <group ns="rgb_viewer">
    <!-- Run rqt_image_view -->
        <node name="image_view" pkg="image_view" type="image_view" respawn="false" output="screen">
            <param name="autosize" value="True"/>
            <remap from="image" to="/flirone/images/rgb_jpg" />
        </node>
    </group>

     <group ns="ir_viewer">
      <!-- Run rqt_image_view -->
        <node name="image_view" pkg="image_view" type="image_view" respawn="false" output="screen">
            <param name="autosize" value="True"/>
            <remap from="image" to="/flirone/images/ir_16b" />
        </node>
    </group>
       
</launch>